:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-router-link-text-color: #ffffff;
  --header-item-background-color: #0b9ab7;

  --header-background-color: #00449e;



  --login-form-background-color: #079ac6;
}

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}